openapi: 3.0.3
info:
  title: Martin Sols HUB API
  version: 1.1.0
  description: Documentation OpenAPI des endpoints CRM exposes par Laravel.
servers:
  - url: https://crm.jp2.fr
security:
  - sanctum: []
tags:
  - name: Dashboard
  - name: Administration
  - name: Reservations
  - name: Location materiel
  - name: Conges
  - name: Comptabilite
  - name: Documents
  - name: Pages
  - name: Equipes
  - name: Commercial
  - name: Mobile
  - name: Chat
    description: Aucun endpoint backend Chat n'est expose dans ce depot.
  - name: News
    description: Aucun endpoint backend News n'est expose dans ce depot.
x-crm-audit:
  chatEndpoint: absent
  newsEndpoint: absent
  documentsEndpoint: documented
  moduleApis:
    - /api/dashboard
    - /api/administration
    - /api/reservations
    - /api/equipment-rentals
    - /api/conges
    - /api/controle-caisse
    - /api/demandes-acompte
    - /api/remise-cheques
    - /api/documents
    - /api/pages
    - /api/equipes
    - /api/pilotage-commercial
    - /api/tournees-representants
paths:
  /api/dashboard:
    get:
      tags: [Dashboard]
      summary: Lire le tableau de bord CRM.
      parameters:
        - $ref: '#/components/parameters/Action'
        - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Donnees du tableau de bord ou health check.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/administration:
    get:
      tags: [Administration]
      summary: Lire les donnees d'administration.
      parameters:
        - $ref: '#/components/parameters/Action'
      responses:
        '200':
          description: Profil, bootstrap ou donnees de configuration.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Administration]
      summary: Modifier les profils, sessions, menus, pages, sites, modules et utilisateurs.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum:
              - save_profile
              - delete_session
              - save_menu_settings
              - save_page
              - delete_page
              - save_site
              - delete_site
              - save_module
              - save_user
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/reservations:
    get:
      tags: [Reservations]
      summary: Lire les reservations vehicules du calendrier visible.
      description: Sans action, retourne les reservations dans une fenetre de dates limitee. L'ancien action=bootstrap reste disponible pour compatibilite.
      parameters:
        - in: query
          name: action
          required: false
          schema:
            type: string
            enum: [health, bootstrap, reservations]
        - in: query
          name: from
          required: false
          schema:
            type: string
            format: date
          example: '2026-07-01'
          description: Debut de la fenetre calendrier.
        - in: query
          name: to
          required: false
          schema:
            type: string
            format: date
          example: '2026-08-31'
          description: Fin de la fenetre calendrier. La fenetre maximale est limitee a 120 jours.
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: vehicleId
          required: false
          schema:
            type: integer
          description: Filtre optionnel sur un vehicule.
      responses:
        '200':
          description: Health check, bootstrap legacy ou reservations filtrees.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/BadRequest'
    post:
      tags: [Reservations]
      summary: Creer, modifier ou supprimer une reservation ou un vehicule.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum:
              - create_reservation
              - update_reservation
              - delete_reservation
              - save_vehicle
              - delete_vehicle
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/reservations/bootstrap:
    get:
      tags: [Reservations]
      summary: Charger le bootstrap leger du module reservations.
      description: Retourne utilisateur, sites, modules, permissions, utilisateurs minimaux et vehicules, sans charger toutes les reservations.
      responses:
        '200':
          description: Donnees de reference du module reservations.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/reservations/users:
    get:
      tags: [Reservations]
      summary: Lister les utilisateurs HUB visibles par site pour les reservations.
      parameters:
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: cursor
          schema:
            type: integer
          description: Dernier identifiant lu pour la pagination par curseur.
        - in: query
          name: limit
          schema:
            type: integer
            default: 250
            maximum: 500
      responses:
        '200':
          description: Liste paginee d'utilisateurs sous forme id + name.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/reservations/vehicles:
    get:
      tags: [Reservations]
      summary: Lister les vehicules visibles par site.
      parameters:
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: cursor
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
            default: 250
            maximum: 500
      responses:
        '200':
          description: Liste paginee des vehicules.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/equipment-rentals:
    get:
      tags: [Location materiel]
      summary: Lire les locations materiel du calendrier visible.
      description: Sans action, retourne les locations dans une fenetre de dates limitee. L'ancien action=bootstrap reste disponible pour compatibilite.
      parameters:
        - in: query
          name: action
          required: false
          schema:
            type: string
            enum: [health, bootstrap, rentals]
        - in: query
          name: from
          required: false
          schema:
            type: string
            format: date
          example: '2026-07-01'
          description: Debut de la fenetre calendrier.
        - in: query
          name: to
          required: false
          schema:
            type: string
            format: date
          example: '2026-08-31'
          description: Fin de la fenetre calendrier. La fenetre maximale est limitee a 120 jours.
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: equipmentItemId
          required: false
          schema:
            type: integer
          description: Filtre optionnel sur un materiel.
      responses:
        '200':
          description: Health check, bootstrap legacy ou locations filtrees.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/BadRequest'
    post:
      tags: [Location materiel]
      summary: Creer, modifier ou supprimer une location ou une fiche materiel.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum:
              - create_rental
              - update_rental
              - delete_rental
              - save_equipment_item
              - delete_equipment_item
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/equipment-rentals/bootstrap:
    get:
      tags: [Location materiel]
      summary: Charger le bootstrap leger du module location materiel.
      description: Retourne utilisateur, sites, modules, permissions, utilisateurs minimaux, categories et materiels, sans charger toutes les locations.
      responses:
        '200':
          description: Donnees de reference du module location materiel.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/equipment-rentals/users:
    get:
      tags: [Location materiel]
      summary: Lister les utilisateurs HUB visibles par site pour les locations.
      parameters:
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: cursor
          schema:
            type: integer
          description: Dernier identifiant lu pour la pagination par curseur.
        - in: query
          name: limit
          schema:
            type: integer
            default: 250
            maximum: 500
      responses:
        '200':
          description: Liste paginee d'utilisateurs sous forme id + name.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/equipment-rentals/items:
    get:
      tags: [Location materiel]
      summary: Lister les materiels visibles par site.
      parameters:
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: categoryId
          schema:
            type: integer
          description: Filtre optionnel sur une categorie.
        - in: query
          name: cursor
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
            default: 250
            maximum: 500
      responses:
        '200':
          description: Liste paginee des materiels.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/equipment-rentals/categories:
    get:
      tags: [Location materiel]
      summary: Lister les categories actives de materiel.
      responses:
        '200':
          description: Liste des categories actives.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/conges:
    get:
      tags: [Conges]
      summary: Lire le planning conges.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [bootstrap]
        - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Planning des absences du site.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Conges]
      summary: Creer, modifier ou supprimer un conge.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [save_leave, delete_leave]
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/controle-caisse:
    get:
      tags: [Comptabilite]
      summary: Lire le controle caisse.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap]
        - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Health check ou donnees de caisse.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Comptabilite]
      summary: Administrer les journees, justificatifs et mouvements de caisse.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum:
              - create_day
              - save_day
              - delete_day
              - save_receipt
              - delete_receipt
              - save_cash_count
              - save_movement
              - delete_movement
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/demandes-acompte:
    get:
      tags: [Comptabilite]
      summary: Lire les demandes d'acompte.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap]
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, approved, rejected]
        - in: query
          name: query
          schema:
            type: string
      responses:
        '200':
          description: Health check ou liste des demandes.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Comptabilite]
      summary: Creer, valider ou supprimer une demande d'acompte.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [save_request, validate_request, delete_request]
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/remise-cheques:
    get:
      tags: [Comptabilite]
      summary: Lire les remises de cheques.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap, show_remittance]
        - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Health check, liste ou detail d'une remise.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Comptabilite]
      summary: Administrer les remises, lignes de cheques et OCR.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum:
              - save_remittance
              - delete_remittance
              - detect_check_ocr
              - save_check
              - delete_check
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/documents:
    get:
      tags: [Documents]
      summary: Lire ou verifier le module Documents.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap]
        - in: query
          name: category
          required: false
          schema:
            type: string
            enum: [promo, fiches-techniques, procedures]
        - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Etat ou donnees du module Documents.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Documents]
      summary: Administrer les dossiers et documents.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [save_directory, delete_directory, save_document, delete_document]
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /documents/file/{document}:
    get:
      tags: [Documents]
      summary: Telecharger ou previsualiser un document.
      parameters:
        - in: path
          name: document
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Fichier retourne.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/pages:
    get:
      tags: [Pages]
      summary: Lire les pages HUB administrables.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap, page, pages_bootstrap]
        - in: query
          name: slug
          schema:
            type: string
      responses:
        '200':
          description: Liste, detail ou bootstrap de gestion des pages.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Pages]
      summary: Creer, modifier ou supprimer une page HUB.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [save_page, delete_page]
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/equipes:
    get:
      tags: [Equipes]
      summary: Lire la liste des equipes par site.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap]
        - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Health check ou liste des membres.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/tournees-representants:
    get:
      tags: [Commercial]
      summary: Lire les rapports de visite et tournees commerciales.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap]
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: month
          schema:
            type: string
            example: '2026-07'
        - in: query
          name: status
          schema:
            type: string
      responses:
        '200':
          description: Health check ou donnees commerciales.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Commercial]
      summary: Administrer les tournees, visites et rapports.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum:
              - save_tour
              - delete_tour
              - save_visit
              - delete_visit
              - save_report
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/pilotage-commercial:
    get:
      tags: [Commercial]
      summary: Lire le pilotage commercial, les objectifs, factures et commissions.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum: [health, bootstrap]
        - $ref: '#/components/parameters/SiteId'
        - in: query
          name: month
          schema:
            type: string
            example: '2026-07'
        - in: query
          name: representativeId
          schema:
            type: integer
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, pending, paid, overdue, canceled]
      responses:
        '200':
          description: Health check ou tableau de bord commercial.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Commercial]
      summary: Synchroniser les donnees demo, gerer objectifs et commissions.
      parameters:
        - in: query
          name: action
          required: true
          schema:
            type: string
            enum:
              - sync_demo
              - save_objective
              - mark_commission_paid
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/mobile/token:
    post:
      tags: [Mobile]
      summary: Creer un access token mobile HUB court et un refresh token rotatif.
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          description: Tokens crees avec les scopes CRM du compte.
        '422':
          description: Identifiants invalides.
  /api/mobile/refresh:
    post:
      tags: [Mobile]
      summary: Renouveler un access token mobile via refresh token.
      requestBody:
        description: Payload JSON contenant refreshToken ou refresh_token.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                device_name:
                  type: string
      responses:
        '200':
          description: Nouveau token Bearer, refresh token rotatif et scopes.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/mobile/me:
    get:
      tags: [Mobile]
      summary: Lire la session mobile courante.
      security:
        - bearer: []
      responses:
        '200':
          description: Utilisateur mobile courant.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/mobile/web-session:
    post:
      tags: [Mobile]
      summary: Creer une session web depuis un token mobile.
      security:
        - bearer: []
      requestBody:
        $ref: '#/components/requestBodies/CrmJsonPayload'
      responses:
        '200':
          description: Jeton de session web cree.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/mobile/logout:
    post:
      tags: [Mobile]
      summary: Revoquer le token mobile courant.
      security:
        - bearer: []
      responses:
        '200':
          $ref: '#/components/responses/CrmOk'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/chat:
    get:
      tags: [Chat]
      summary: Endpoint Chat non implemente dans le backend actuel.
      responses:
        '404':
          description: Route non exposee par ce depot.
  /api/news:
    get:
      tags: [News]
      summary: Endpoint News non implemente dans le backend actuel.
      responses:
        '404':
          description: Route non exposee par ce depot.
components:
  securitySchemes:
    sanctum:
      type: apiKey
      in: cookie
      name: laravel_session
    bearer:
      type: http
      scheme: bearer
      bearerFormat: Sanctum scoped access token
  parameters:
    Action:
      in: query
      name: action
      required: false
      schema:
        type: string
      description: Action metier demandee au controleur CRM.
    SiteId:
      in: query
      name: siteId
      required: false
      schema:
        type: integer
      description: Site CRM actif.
  requestBodies:
    CrmJsonPayload:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    CrmOk:
      description: Operation CRM effectuee.
      content:
        application/json:
          schema:
            type: object
            properties:
              ok:
                type: boolean
    BadRequest:
      description: Donnees invalides.
    Unauthorized:
      description: Utilisateur HUB requis.
    Forbidden:
      description: Droits insuffisants.
    NotFound:
      description: Ressource introuvable.
